<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-map-marker red"></i><strong>预览视图</strong></h2>
                <div class="panel-actions">
                    <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                    <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body-map">
                <div id="canvas-frame" style="height:380px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <!-- List starts -->
        <ul class="today-datas">
            <!-- List #1 -->
            <li>
                <!-- Graph -->
                <div><span id="todayspark1" class="spark"></span></div>
                <!-- Text -->
                <div class="datas-text">2000次浏览</div>
            </li>
            <li>
                <div><span id="todayspark2" class="spark"></span></div>
                <div class="datas-text">每秒帧数(实时)</div>
            </li>
            <li>
                <div><span id="todayspark3" class="spark"></span></div>
                <div class="datas-text">3.55% 服务器负载</div>
            </li>
            <li>
                <div><span id="todayspark4" class="spark"></span></div>
                <div class="datas-text">100 在线用户</div>
            </li>
            <li>
                <div><span id="todayspark5" class="spark"></span></div>
                <div class="datas-text">1.55% CPU使用率</div>
            </li>
        </ul>
    </div>
</div>