<div class="row clearfix" style="padding-top: 20px;">
    <div class="col-md-12">
        <div class="well well-sm">
            <div style="text-align:center;">
                <a href="#">免责声明 </a> |
                <a href="#">关于我们</a>
            </div>
            <div style="padding-top:10px; text-align: center">
                维恩动力属于个人空间，托管在<a href="http://www.aliyun.com/" target="_blank" rel="nofollow">阿里云</a>平台<br>
                Copyright &copy;2017 Weinbery Dynamics. All rights reserved.<br>
                <img style="width: 20px;" src="icp.png">黔ICP备17010992号</img>
            </div>
        </div>
    </div>
</div>