<!-- javascripts -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/jquery-ui-1.10.4.min.js"></script>
<script src="javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui-1.9.2.custom.min.js"></script>
<!-- bootstrap -->
<script src="javascripts/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="javascripts/jquery.scrollTo.min.js"></script>
<script src="javascripts/jquery.nicescroll.js" type="text/javascript"></script>
<!-- charts scripts -->
<script src="assets/jquery-knob/js/jquery.knob.js"></script>
<script src="javascripts/jquery.sparkline.js" type="text/javascript"></script>
<script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="javascripts/owl.carousel.js" ></script>
<!-- jQuery full calendar -->
<<script src="javascripts/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
<!--script for this page only-->
<script src="javascripts/calendar-custom.js"></script>
<script src="javascripts/jquery.rateit.min.js"></script>
<!-- custom select -->
<script src="javascripts/jquery.customSelect.min.js" ></script>
<script src="assets/chart-master/Chart.js"></script>

<!--custome script for all page-->
<script src="javascripts/scripts.js"></script>
<!-- custom script for this page-->
<script src="javascripts/sparkline-chart.js"></script>
<script src="javascripts/easy-pie-chart.js"></script>
<script src="javascripts/jquery-jvectormap-1.2.2.min.js"></script>
<script src="javascripts/jquery-jvectormap-world-mill-en.js"></script>
<script src="javascripts/xcharts.min.js"></script>
<script src="javascripts/jquery.autosize.min.js"></script>
<script src="javascripts/jquery.placeholder.min.js"></script>
<script src="javascripts/gdp-data.js"></script>
<script src="javascripts/morris.min.js"></script>
<script src="javascripts/sparklines.js"></script>
<script src="javascripts/charts.js"></script>
<script src="javascripts/jquery.slimscroll.min.js"></script>
<script>

    //knob
    $(function() {
        $(".knob").knob({
            'draw' : function () {
                $(this.i).val(this.cv + '%')
            }
        })
    });

    //carousel
    $(document).ready(function() {
        $("#owl-slider").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true

        });
    });

    //custom select box

    $(function(){
        $('select.styled').customSelect();
    });

    /* ---------- Map ---------- */
    $(function(){
        $('#map').vectorMap({
            map: 'world_mill_en',
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#000', '#000'],
                    normalizeFunction: 'polynomial'
                }]
            },
            backgroundColor: '#eef3f7',
            onLabelShow: function(e, el, code){
                el.html(el.html()+' (GDP - '+gdpData[code]+')');
            }
        });
    });

</script>

<%- include('indexthreejs') %>

</body>
</html>