<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="/posts">
                    <i class="icon_house_alt"></i>
                    <span>主面板</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="3dview" class="">
                    <i class="icon_document_alt"></i>
                    <span>3D场景</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_desktop"></i>
                    <span>场景管理</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../form_component.html">表单元素</a></li>
                    <li><a class="" href="../form_validation.html">表单验证</a></li>
                    <li><a class="" href="../general.html">元素</a></li>
                    <li><a class="" href="../buttons.html">按钮</a></li>
                    <li><a class="" href="../grids.html">网格</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="../widgets.html">
                    <i class="icon_genius"></i>
                    <span>插件管理</span>
                </a>
            </li>
            <li>
                <a class="" href="../chart-chartjs.html">
                    <i class="icon_piechart"></i>
                    <span>控制策略</span>
                </a>

            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_table"></i>
                    <span>用户管理</span><!-- 只对超级管理员开放 -->
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/usermgr">用户列表</a></li>
                    <li><a class="" href="/adduser">添加用户</a></li>
                    <li><a class="" href="/removeuser">删除用户</a></li>
                    <li><a class="" href="/updateuser">修改用户</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_documents_alt"></i>
                    <span>页面管理</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="../profile.html">网站资料</a></li>
                    <li><a class="" href="../login.html"><span>网页信息</span></a></li>
                    <li><a class="" href="../blank.html">附件下载</a></li>
                    <li><a class="" href="../404.html">附件上传</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
